################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Main/.vs
/Main/ExpressionEditor/bin
/Main/ExpressionEditor/obj
/Main/ExpressionTester/bin
/Main/ExpressionTester/obj
/Main/PackageTest/bin
/Main/PackageTest/obj
